body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 16px!important;
}
