/* add css module styles here (optional) */

.btn {
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 4px 2px;
  padding: 8px 16px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.3s;
  background-color: #808080;
}
.btn:hover {
  background-color: #c0c0c0;
}

.red {
  background-color: #cc0000; 
}
.red:hover {
  background-color: #ff0000;
}

.green {
  background-color: #009900; 
}
.green:hover {
  background-color: #00cc00;
}

.blue {
  background-color: #0080ff;
}
.blue:hover {
  background-color: #3399ff;
}
